<div *ngIf="viewMode; else editable" class="my-4 bg-black m-4">
  <div *ngIf="currentTutorial.id">
    <h4>{{ currentTutorial.name }}</h4>
    <div class="mb-2">
      <label><strong>Name:</strong></label> {{ currentTutorial.name }}
      <label><strong>Age:</strong></label>
      {{ currentTutorial.age }}
      <label><strong>Score:</strong></label>
      {{ currentTutorial.score }}
    </div>

    <div class="mb-2">
      <label><strong>Status:</strong></label>
      {{ currentTutorial.winner ? "Winner" : "Not Winner" }}
    </div>
    <div class="mb-2">
      <ng-container *ngIf="currentTutorial.winner; else winnerBlock">
        <h1>User Already Winner</h1>
      </ng-container>
      <ng-template #winnerBlock>
        <p>Are you sure you want to update the details?</p>
        <a
          class="btn btn-warning"
          [routerLink]="'/tutorials/' + currentTutorial.id"
          >Yes</a
        >
      </ng-template>
    </div>
  </div>

  <div *ngIf="!currentTutorial">
    <br />
    <p>Please click on a Tutorial...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentTutorial.id" class="edit-form my-4">
    <h4 class="mb-4">{{ currentTutorial.name }}</h4>
    <form>
      <div class="form-group">
        <label for="name" class="font-weight-bold">Name</label>
        <p class="mb-2">{{ currentTutorial.name }}</p>
      </div>
      <div class="form-group">
        <label for="age" class="font-weight-bold">Age</label>
        <p class="mb-2">{{ currentTutorial.age }}</p>
      </div>
      <div class="form-group">
        <label for="score" class="font-weight-bold">Score</label>
        <p class="mb-2">{{ currentTutorial.score }}</p>
      </div>

      <div class="form-group">
        <label class="font-weight-bold"><strong>Status:</strong></label>
        <p class="mb-2">
          {{ currentTutorial.winner ? "Winner" : "Not Winner" }}
        </p>
      </div>
    </form>

    <button
      *ngIf="!currentTutorial.winner"
      class="btn btn-primary btn-lg mr-2"
      (click)="updatePublished(true)"
    >
      Set Winner
    </button>

    <button
      type="submit"
      class="btn btn-success btn-lg"
      (click)="updateTutorial()"
      routerLink="/tutorials"
    >
      Close
    </button>
    <p class="mt-4">{{ message }}</p>
  </div>

  <div *ngIf="!currentTutorial.id">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>
</ng-template>
