<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Bhargav Rao </a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">All Users </a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add New User</a>
      </li>
      <li class="nav-item">
        <a routerLink="toppers" class="nav-link">Toppers List</a>
      </li>
      <li class="nav-item">
        <a routerLink="winners" class="nav-link">Winners List </a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
